.icon-card-delete {
    color: white;
    cursor: pointer;
}

.title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }