.card_container {
    border: 2px solid #ececf1;
    border-radius: 4px;
    background-color: #ececf1;
    margin: 20px auto;
    padding: 10px;
    max-width: 630px;
    width: calc(100% - 10px);
}

.title-card {
    text-align: center;
    padding-bottom: 10px;
}

.info-card {
    padding: 5px 0px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.icon-card {
    cursor: pointer;
    margin-right: 10px;
    color: #36909A;
}

.icon-card:hover {
    color: black;
    transform: scale(1.2);
}

.select-permission {
    padding: 8px;
    border: 2px solid #ececf1;
    border-radius: 4px;
    background-color: #ececf1;
    width: calc(100% - 10px);
    max-width: 575px;
    box-sizing: border-box;
}